<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/noun_abstract_327757.png" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Scable</title>
</head>

<body>
    <div id="app">

        <header id="header-content">
            <website-title id="website-title"></website-title>
            <ul id="header-tabs">
                <a id="showStart" v-on:click="showStart()">START</a>
                <a id="showProduct" v-on:click="showProduct()">PRODUCTS</a>
            </ul>

            <div id="header-icons">
                <header-icon-search></header-icon-search>
                <header-icon-profile></header-icon-profile>
                <header-icon-favorites></header-icon-favorites>
                <a href="#" v-on:click="showCart()">
                    <header-icon-cart id="header-icon-cart"></header-icon-cart>
                    <div class="small-circle" v-if="currentItemsInCartNumber > 0">
                        <p v-model="currentItemsInCartNumber">{{currentItemsInCartNumber}}</p>
                    </div>
                </a>

            </div>
        </header>


        <section>


            <div class="start-page" v-if="typeOfPage === 'start' || typeOfPage === ''">

                <start-usp id="start-usp"></start-usp>
                <div class="start-cards-container" id="blur">
                    <div class="card">
                        <div class="imgBx" id="imgBx-shoes" v-for="item in usableGlobalArray"
                            v-if="item.ID === '8a609b4b-b002-4eee-aa0c-e4fed93d2193'">
                            <img :src="getImage(item.Img)">
                            <h2>{{item.Brand}} {{item.Model}}</h2>
                            <h3>{{item.Price}}kr</h3>
                        </div>
                        <div class="content" id="card-content-shoes">
                            <div class="size">
                                <h3>Size :</h3>
                                <span>41</span>
                                <span>42</span>
                                <span>43</span>
                                <span>44</span>
                            </div>
                            <div class="color">
                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="buttons">
                                <a v-on:click="addToCart('8a609b4b-b002-4eee-aa0c-e4fed93d2193')">Add to
                                    cart</a>
                                <a v-on:click="toggle('8a609b4b-b002-4eee-aa0c-e4fed93d2193')">More info</a>
                            </div>
                            <h3 class="quantity" v-model="amountOfNikeAirShoes">In stock {{amountOfNikeAirShoes}}</h3>

                        </div>
                    </div>
                    <div class="sweater-card">
                        <div class="card">
                            <div class="imgBx" id="imgBx-sweater" v-for="item in usableGlobalArray"
                                v-if="item.ID === 'd42275ce-6874-4d1d-96d3-ae94aacdf14a'">
                                <img :src="getImage(item.Img)">
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>S</span>
                                    <span>M</span>
                                    <span>L</span>
                                    <span>XL</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart('d42275ce-6874-4d1d-96d3-ae94aacdf14a')">Add to cart</a>
                                    <a v-on:click="toggle('d42275ce-6874-4d1d-96d3-ae94aacdf14a')">More info</a>
                                </div>
                                <h3 class="quantity" v-model="amountOfSmogSweaters">In stock {{amountOfSmogSweaters}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="trouser-card">
                        <div class="card">
                            <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                v-if="item.ID === '3ed9dcff-99d6-4f37-b9d4-e3ace1e78324'">
                                <img :src="getImage(item.Img)"></img>
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>S</span>
                                    <span>M</span>
                                    <span>L</span>
                                    <span>XL</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart('3ed9dcff-99d6-4f37-b9d4-e3ace1e78324')">Add to cart</a>
                                    <a v-on:click="toggle('3ed9dcff-99d6-4f37-b9d4-e3ace1e78324')">More info</a>
                                </div>
                                <h3 class="quantity" v-model="amountOfNikeDriFit">In stock {{amountOfNikeDriFit}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="trouser-card" v-if="showNewItem == true" v-for="(item, index) in usableGlobalArray">
                        <div class="card" v-if="index > 11">
                            <div class="imgBx" id="imgBx-trouser">
                                <img :src="getImage(item.Img)"></img>
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>S</span>
                                    <span>M</span>
                                    <span>L</span>
                                    <span>XL</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart()">Add to cart</a>
                                    <a v-on:click="toggle()">More info</a>
                                </div>
                                <!-- <h3 class="quantity" v-model="amountOfNikeDriFit">In stock {{amountOfNikeDriFit}}</h3> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div id="popup">
                    <h2>{{infoProduct}}</h2>
                    <p>{{infoDescription}}</p>
                    <a v-on:click="toggle()">Close</a>
                </div>
                <div id="popup-not-in-stock">
                    <h2>Out of Stock</h2>
                    <p>Your selected product is out of stock.</p>
                    <a v-on:click="toggleOutOfStock()">Close</a>
                </div>

                <div class="admin-container">
                    <div class="admin-button">
                        <button v-on:click="toggleAdmin()" style="font-size: 1em;">TOGGLE ADMIN</button>
                    </div>
                    <div class="admin-form" v-if="adminActivated == true">
                        <input type="text" ref="enterid_ref" placeholder="Enter ID">
                        <input type="text" ref="enterbrand_ref" placeholder="Enter brand">
                        <input type="text" ref="entermodel_ref" placeholder="Enter model">
                        <input type="text" ref="enterprice_ref" placeholder="Enter price">
                        <input type="text" ref="enterdesc_ref" placeholder="Enter description">
                        <input type="text" ref="enterimg_ref" placeholder="Enter image source">
                        <input type="text" ref="enterquantity_ref" placeholder="Enter quantity">
                        <button v-on:click="adminAddItem()">ADD ITEM</button>
                        <button v-on:click="adminChangeItem()">CHANGE ITEM</button>
                    </div>
                </div>
            </div>



            <div class="product-page" v-if="typeOfPage === 'product'">
                <div class="product-container">
                    <h1>Choose a category: <br><br></h1>
                    <div class="checkbox-container">

                        <ul class="checkbox-list">
                            <li>
                                <input type="checkbox" id="trousersCB" v-model="trousersChecked">
                                <label for="trousersCB">Trousers</label>
                            </li>
                            <li>
                                <input type="checkbox" id="sweatersCB" v-model="sweatersChecked">
                                <label for="sweatersCB">Sweaters</label>
                            </li>
                            <li>
                                <input type="checkbox" id="shoesCB" v-model="shoesChecked">
                                <label for="shoesCB">Shoes</label>
                            </li>
                        </ul>
                    </div>


                    <div class="start-cards-container" v-if="trousersChecked == true" id="blur">
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === '3b6bfa72-c346-41c4-a758-a00a0707f426'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('3b6bfa72-c346-41c4-a758-a00a0707f426')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('3b6bfa72-c346-41c4-a758-a00a0707f426')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfTuuli">In stock {{amountOfTuuli}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === 'c0b282d6-ba6f-4f29-8cf3-23e2bba017f8'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('c0b282d6-ba6f-4f29-8cf3-23e2bba017f8')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('c0b282d6-ba6f-4f29-8cf3-23e2bba017f8')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfNikeNBA">In stock {{amountOfNikeNBA}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === '3ed9dcff-99d6-4f37-b9d4-e3ace1e78324'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('3ed9dcff-99d6-4f37-b9d4-e3ace1e78324')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('3ed9dcff-99d6-4f37-b9d4-e3ace1e78324')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfNikeDriFit">In stock {{amountOfNikeDriFit}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="start-cards-container" v-if="sweatersChecked == true" id="blur">
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === '2125dbc9-451d-4616-8ca8-3ed9bf5f86d8'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('2125dbc9-451d-4616-8ca8-3ed9bf5f86d8')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('2125dbc9-451d-4616-8ca8-3ed9bf5f86d8')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfBlueSweater">In stock {{amountOfBlueSweater}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === 'dc4be2f3-8c21-4392-90fa-579c03be64ad'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('dc4be2f3-8c21-4392-90fa-579c03be64ad')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('dc4be2f3-8c21-4392-90fa-579c03be64ad')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfBlackSweater">In stock
                                        {{amountOfBlackSweater}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="trouser-card">
                            <div class="card">
                                <div class="imgBx" id="imgBx-trouser" v-for="item in usableGlobalArray"
                                    v-if="item.ID === '76656dd0-bcd1-4c23-ae5a-1887e738e29e'">
                                    <img :src="getImage(item.Img)">
                                    <h2>{{item.Brand}} {{item.Model}}</h2>
                                    <h3>{{item.Price}}kr</h3>
                                </div>
                                <div class="content">
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span>S</span>
                                        <span>M</span>
                                        <span>L</span>
                                        <span>XL</span>
                                    </div>
                                    <div class="color">
                                        <h3>Color :</h3>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div class="buttons">
                                        <a v-on:click="addToCart('76656dd0-bcd1-4c23-ae5a-1887e738e29e')">Add to
                                            cart</a>
                                        <a v-on:click="toggle('76656dd0-bcd1-4c23-ae5a-1887e738e29e')">More info</a>
                                    </div>
                                    <h3 class="quantity" v-model="amountOfNikeNFL">In stock {{amountOfNikeNFL}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="start-cards-container" v-if="shoesChecked == true" id="blur">
                        <div class="card">
                            <div class="imgBx" id="imgBx-shoes" v-for="item in usableGlobalArray"
                                v-if="item.ID === '8a609b4b-b002-4eee-aa0c-e4fed93d2193'">
                                <img :src="getImage(item.Img)">
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>36</span>
                                    <span>38</span>
                                    <span>40</span>
                                    <span>42</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart('8a609b4b-b002-4eee-aa0c-e4fed93d2193')">Add to
                                        cart</a>
                                    <a v-on:click="toggle('8a609b4b-b002-4eee-aa0c-e4fed93d2193')">More info</a>
                                </div>
                                <h3 class="quantity" v-model="amountOfNikeAirShoes">In stock {{amountOfNikeAirShoes}}
                                </h3>
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx" id="imgBx-shoes" v-for="item in usableGlobalArray"
                                v-if="item.ID === '4a1b729f-0bae-489f-a131-f6f10f0eb9d9'">
                                <img :src="getImage(item.Img)">
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>36</span>
                                    <span>38</span>
                                    <span>40</span>
                                    <span>42</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart('4a1b729f-0bae-489f-a131-f6f10f0eb9d9')">Add to
                                        cart</a>
                                    <a v-on:click="toggle('4a1b729f-0bae-489f-a131-f6f10f0eb9d9')">More info</a>
                                </div>
                                <h3 class="quantity" v-model="amountOfNikeAirZoom">In stock {{amountOfNikeAirZoom}}
                                </h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imgBx" id="imgBx-shoes" v-for="item in usableGlobalArray"
                                v-if="item.ID === '626a4cd9-0a70-4894-97f2-5b4c90254adc'">
                                <img :src="getImage(item.Img)">
                                <h2>{{item.Brand}} {{item.Model}}</h2>
                                <h3>{{item.Price}}kr</h3>
                            </div>
                            <div class="content">
                                <div class="size">
                                    <h3>Size :</h3>
                                    <span>36</span>
                                    <span>38</span>
                                    <span>40</span>
                                    <span>42</span>
                                </div>
                                <div class="color">
                                    <h3>Color :</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="buttons">
                                    <a v-on:click="addToCart('626a4cd9-0a70-4894-97f2-5b4c90254adc')">Add to
                                        cart</a>
                                    <a v-on:click="toggle('626a4cd9-0a70-4894-97f2-5b4c90254adc')">More info</a>
                                </div>
                                <h3 class="quantity" v-model="amountOfNikeLeBron">In stock {{amountOfNikeLeBron}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div id="popup">
                        <h2>{{infoProduct}}</h2>
                        <p>{{infoDescription}}</p>
                        <a v-on:click="toggle()">Close</a>
                    </div>
                    <div id="popup-not-in-stock">
                        <h2>Out of Stock</h2>
                        <p>Your selected product is out of stock.</p>
                        <a v-on:click="toggleOutOfStock()">Close</a>
                    </div>
                </div>
            </div>
            <div class="cart-page" v-if="typeOfPage === 'cart'" id="cartBlur">
                <h1>Shopping Cart</h1>
                <ul id="cart-list">
                    <li v-for="item in currentItemsInCartArray">
                        <img :src="getImage(item.Img)">
                        <h2>Brand: {{item.Brand}}</h2>
                        <h2>Model: {{item.Model}}</h2>
                        <h2>Price: {{item.Price}}kr</h2>
                        <a v-on:click="deleteItemById(item.ID)">
                            <x-icon id="x-icon"></x-icon>
                        </a>
                    </li>
                    <li v-model="totalPrice, totalVAT" v-if="currentItemsInCartArray.length > 0">
                        <h2>Total price: {{totalPrice}}kr ({{totalVAT}}kr VAT)</h2>
                    </li>
                </ul>
                <form action="" id="payment-form">
                    <div class="wrapper">


                        <div class="personal-info">
                            <div class="personal-title">
                                <h2>Personal</h2>
                            </div>

                            <label for="firstname">First name</label>
                            <input type="text" id="firstname" ref="firstname_ref" v-on:change="setErrorMessage()">
                            <label v-if="!firstnameHasText" style="color: red;">First name is empty or in wrong
                                format.</label>

                            <label for="surname">Surname</label>
                            <input type="text" id="surname" ref="surname_ref" v-on:change="setErrorMessage()">
                            <label v-if="!surnameHasText" style="color: red;">Surname is empty or in wrong
                                format.</label>

                            <label for="address">Address</label>
                            <input type="text" id="address" ref="address_ref" v-on:change="setErrorMessage()">
                            <label v-if="!addressHasText" style="color: red;">Address is empty or in wrong
                                format.</label>

                            <label for="postcode">Postcode</label>
                            <input type="number" id="postcode" ref="postcode_ref" v-on:change="setErrorMessage()">
                            <label v-if="!postcodeHasText" style="color: red;">Postcode is empty or in wrong
                                format.</label>

                            <label for="phonenumber">Phone number</label>
                            <input type="number" id="phonenumber" ref="phonenumber_ref" v-on:change="setErrorMessage()">
                            <label v-if="!phonenumberHasText" style="color: red;">Phone number is empty or in wrong
                                format.</label>

                            <label for="email">Email</label>
                            <input type="email" id="email" ref="email_ref" v-on:change="setErrorMessage()">
                            <label v-if="!emailHasText" style="color: red;">Email is empty or in wrong format.</label>
                        </div>
                        <br><br>
                        <hr color="#fff" style="height: 0.1em;">
                        <div class="shipping-info">
                            <div class="shipping-title">
                                <br>
                                <h2>Shipping</h2>
                            </div>
                            <div class="shipping-boxes">
                                <div class="dhl-box">
                                    <img src="/Webbshop/images/new-dhl-logo.png">
                                    <input type="radio" id="radio1" name="shipping" value="dhl"
                                        v-on:click="setTotalCost('dhl')">
                                    <label>+49kr</label>
                                </div>
                                <div class="schenker-box">
                                    <img src="/Webbshop/images/db-schenker-vector-logo.png">
                                    <input type="radio" id="radio2" name="shipping" value="schenker"
                                        v-on:click="setTotalCost('schenker')">
                                    <label>+59kr</label>
                                </div>
                            </div>

                        </div>
                        <br><br>
                        <hr color="#fff" style="height: 0.1em;">
                        <div class="billing-info">
                            <div class="billing-title">
                                <br>
                                <h2>Billing</h2>
                            </div>
                            <div class="type-of-payment">
                                <div class="paymentmethod-card">
                                    <ion-icon name="card-outline" id="payment-by-card-icon"></ion-icon>
                                    <input type="radio" name="paymentmethod" value="pm-card" v-model="paymentpicked">
                                </div>
                                <div class="paymentmethod-swish">
                                    <img src="/Webbshop/images/swish_logo.png">
                                    <input type="radio" name="paymentmethod" value="pm-swish" v-model="paymentpicked">
                                </div>

                            </div>
                            <div class="card-info" v-if="paymentpicked === 'pm-card'">
                                <label for="cardnumber">Card number</label>
                                <input type="number" id="cardnumber" ref="cardnumber_ref"
                                    v-on:change="setErrorMessage()">
                                <label v-if="!cardnumberHasNumbers" style="color: red;">Card number is empty or in wrong
                                    format.</label>

                                <label for="cvc">CVC</label>
                                <input type="number" id="cvc" ref="cvc_ref" v-on:change="setErrorMessage()">
                                <label v-if="!cvcHasNumbers" style="color: red;">CVC is empty or in wrong
                                    format.</label>
                            </div>

                            <label v-model="totalCost, totalCostVAT">Total cost: {{totalCost}}kr ({{totalCostVAT}}kr
                                VAT)</label>
                            <a href="#" id="purchase-button" v-on:click="purchaseItems()">Purchase</a>

                        </div>
                    </div>
                </form>
            </div>
            <div class="cart-page" v-if="typeOfPage === 'thankyou'">
                <h1 style="color: #fff;">Thank you for your purchase! <br>A receipt has been sent to your email.</h1>
            </div>
            <div id="popup-cart">
                <h2>Error</h2>
                <p>Something went wrong. Check form and try again! </p>
                <a v-on:click="toggleError()">Close</a>
            </div>
    </div>

    </section>
    <footer id="footer">Made by Robin Edin September 2021</footer>
    <script src="main.js"></script>
</body>

</html>