* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
}


#website-title
{
    display: flex;
}

#header-content
{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

#header-icons
{
    display: flex;
}

#header-icons svg
{
    margin: 10px;
}

#header-image
{
    display: flex;
    justify-content: center;
    
}

#header-image img
{
    min-width: 100%;
    
}

#header-image h1
{
    position: absolute;
    color: #101010;
    font-size: 5em;
    background: wheat;
    margin-top: 10%;
    
}

#showSearch
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showSearch:hover
{
    color: gray;
}


#showProfile
{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

#showProfile:hover
{
    color: gray;
}

#showFavorites
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showFavorites:hover
{
    color: gray;
}

#showCart
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showCart:hover
{
    color: gray;
}