* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

/*#region HEADER*/
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}


#website-title
{
    display: flex;
}

#header-content
{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    height: 2.5em;
}

#header-icons
{
    display: flex;
    cursor: pointer;
}

#header-icons svg
{
    margin: 10px;
}

#header-tabs
{
    display: flex;
    justify-content: center;
}

#header-tabs a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4F7942;
    display: block;
    margin: auto;
    transition: 0.2s;
    
}
#header-tabs a:hover::after {
    width: 100%;
}


#header-tabs a
{
    cursor: pointer;
    font-size: 1.5em;
    margin-left: .5em;
    margin-top: 5%;
}


#showSearch
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showSearch:hover
{
    color: gray;
}


#showProfile
{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

#showProfile:hover
{
    color: gray;
}

#showFavorites
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showFavorites:hover
{
    color: gray;
}

#showCart
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showCart:hover
{
    color: gray;
}

.small-circle
{
    cursor: auto;
    position: relative;
    left: 1.5em;
    bottom: 1.5em;
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
    visibility: visible;
}

.small-circle p
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/*#endregion*/

/*#region START-PAGE*/
.start-page
{
    display: block;   
    min-width: 100vh;
    min-height: 150vh;
}


.start-page #start-usp
{
    display: flex;
    justify-content: center;
    
}

.start-page #start-usp img
{
    
    margin-top: -7em;
    min-width: 100vw;
    min-height: 100vh;
   
}

/*#endregion*/


/*#region USP*/

.start-page #start-usp .usp
{
    display: flex;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-top: 8%;
    margin-left: 27%;
    margin-right: 27%;
    font-size: 3em;
    
}

.start-page #start-usp .usp ul
{
    color: #101010;
    border-radius: 25px;
    width: 13em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    max-width: 100%;
    max-height: 30%;
    text-indent: 8%;
}

.start-page #start-usp .usp ul li
{
    
    list-style: none;
}

/*#endregion*/

/*#region IMGBOX*/
/* .start-page #start-cards .start-cards-container
{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.start-page #start-cards
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.start-page #start-cards .imgBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
} */


/*#endregion*/


/*#region CHECKBOXES*/

.product-container h1
{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: white;
}

.checkbox-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkbox-container ul
{
    display: flex;
    list-style: none;
    flex-direction: row;
    
}

.checkbox-container ul li
{
    font-size: 1.3em;
    margin-left: 2em;
    color: white;
    position: relative;
    
}

.product-list
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 2%;
}

.product-item img
{
    width: 30vw;
    outline: .25em solid lightgray;
}

/*#endregion*/

/*#region START-CARDS*/


.start-cards-container
{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.start-cards-container .card
{
    position: relative;
    width: 350px;
    height: 500px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.start-cards-container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.start-cards-container .card .imgBx h2
{
    position: relative;
    bottom: 2em;
}

.start-cards-container .card:hover .imgBx
{
    transform: translateY(-100px);
}



.start-cards-container .card .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.start-cards-container .card:hover .imgBx img
{
    transform: translate(-20px, -40px) rotate(-25deg) scale(1.4);
}

.start-cards-container .sweater-card .card .imgBx h2
{
    bottom: 1em;
}
.start-cards-container .sweater-card .card .imgBx h3
{
    position: relative;
    top: 0.5em;
}
.start-cards-container .sweater-card .card .imgBx img
{
    max-width: 90%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.start-cards-container .sweater-card .card:hover .imgBx img
{
    transform: translate(0px, -30px) scale(1.3);
}
.start-cards-container .trouser-card .card .imgBx h2
{
    bottom: 0.8em;
}
.start-cards-container .trouser-card .card:hover .imgBx img
{
    transform: translate(0px, -30px) scale(1.3);
}

.start-cards-container .card .imgBx h2
{
    color: #fff;
    font-weight: 600;
}

.start-cards-container .card .imgBx h3
{
    color: #fff;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}

.start-cards-container .card:hover .imgBx h3
{
    transform: translateY(-42px);
}
.start-cards-container .sweater-card .card:hover .imgBx h3
{
    transform: translateY(-32px);
}

.start-cards-container .trouser-card .card:hover .imgBx h3
{
    transform: translateY(-19px);
}
.start-cards-container .card .content
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.start-cards-container .card:hover .content
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-40px);
}

.start-cards-container .trouser-card .card:hover .content
{
    transform: translateY(-22px);
}

.start-cards-container .card .content .size,
.start-cards-container .card .content .color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}

.start-cards-container .card .content .size,
.start-cards-container .card .content .color
{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.start-cards-container .card .content .size span
{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    
}

.start-cards-container .card .content .size span:hover
{
    background: #9bdc28;
}

.start-cards-container .card .content .color span
{
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.start-cards-container .card .content .color span:hover
{
    border-color: #111;
}

.start-cards-container .card .content .color span:nth-child(2)
{
    background: #9bdc28;
}
.start-cards-container .card .content .color span:nth-child(3)
{
    background: #03a9f4;
}
.start-cards-container .card .content .color span:nth-child(4)
{
    background: #e91e63;
}

.start-cards-container .card .content a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    border: none;
    font-size: 1em;
}

.start-cards-container .card .content a:hover
{
    background: #111;
    color: #fff;
}

.buttons a
{
  margin: 8px;
  cursor: pointer;
}



.start-cards-container#blur.active
{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

#popup
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35vw;
    border-radius: 40px;
    padding: 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
    z-index: 10;
    background: white;
    visibility: hidden;
    opacity: 0;
}

#popup.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#popup a:hover
{
    background: #111;
    color: #fff;
}
/*#endregion*/


/*#region CART-PAGE*/


.cart-page h1
{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 2em;
    color: #fff;
    font-size: 3em;
}

.cart-page ul
{
    width: 80vw;
    background: white;
    list-style: none;
    border-radius: 40px;
}

.cart-page ul li
{
    min-height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px solid #262626;
    flex-wrap: wrap;
    
}

.cart-page ul li img
{
    width: 9em;
    height: 9em;
    border-radius: 40px;
}

.cart-page #x-icon #x-svg
{
    height: 3em;
    width: 3em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cart-page #x-icon #x-svg:hover
{
    border-radius: 55%;
    background: red;
}





/*#endregion*/

