* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
}


#website-title
{
    display: flex;
}

#header-content
{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

#header-icons
{
    display: flex;
}

#header-icons svg
{
    margin: 10px;
}

#header-image
{
    display: flex;
    justify-content: center;
    
}

#header-image img
{
    min-width: 100%;
    
}

#header-image ul
{
    position: absolute;
    color: #101010;
    font-size: 3em;
    background: wheat;
    border-radius: 25px;
    width: 13em;
    margin-top: 10%;
    
    
}

#header-image ul h1
{
    margin-left: 0.2em;
}

#header-tabs
{
    display: flex;
    justify-content: center;
}

#header-tabs a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4F7942;
    display: block;
    margin: auto;
    transition: 0.2s;
    
}
#header-tabs a:hover::after {
    width: 100%;
}


#header-tabs a
{
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 15%;
    margin-top: 5%;
}


#showSearch
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showSearch:hover
{
    color: gray;
}


#showProfile
{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

#showProfile:hover
{
    color: gray;
}

#showFavorites
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showFavorites:hover
{
    color: gray;
}

#showCart
{
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#showCart:hover
{
    color: gray;
}